*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-gray: #434455;
  --color-white: #ffffff;
  --color-dark-grey: #2e2f42;
  --color-blue: #4d5ae5;
  --color-dark-blue: #404bbf;
  --color-white-2: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-gray);
  background-color: var(--color-white);
}

.lo-go {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}

.link {
  text-decoration: none;
}

.span {
  color: var(--color-dark-grey);
}

.list {
  list-style: none;
}

.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark-grey);
}

.link-studio:hover,
.link-studio:active,
.link-studio:focus,
.link-studio:visited {
  color: var(--color-dark-blue);
}

.contacts {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-gray);
}

.contact:hover,
.contact:focus,
.contact:active {
  color: var(--color-dark-blue);
}

.dark-bg {
  background-color: var(--color-dark-grey);
  width: 1440px;
  height: 600px;
}

.top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.button {
  background-color: var(--color-blue);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-dark-blue);
}

.list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark-grey);
}

.class-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-gray);
}
.class-h-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark-grey);
}

.light-bg {
  background-color: var(--color-white-2);
}

.card-content {
  background-color: var(--color-white);
}

.f-studio {
  color: var(--color-white-2);
}
.logo {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-two {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-blue);
  background-color: var(--color-white-2);
  cursor: pointer;
}

.button-two:hover,
.button-two:active,
.button-two:focus {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  margin-bottom: 120px;
}
p {
  display: flex;
  justify-content: center;
}
h3 {
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.box-nav {
  display: flex;
  margin-right: 40px;
}
ul,
ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-flex {
  display: flex;
  padding-right: 40px;
}
.box-logo {
  display: flex;
  margin-right: 76px;
  margin-left: 156px;
  width: 115px;
}

.box-menu {
  width: 261px;
}
nav {
  display: flex;
}
